<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" style="margin-top:0px">Mini Commerce</h1>
            <p class="lead">Lcw .NET Bootcamp Final Project.</p>
        </div>
    </div>
</header>